@font-face {
  font-family: 'Maple';
  font-style: normal;
  font-weight: normal;
  src: 
    local('Maple'),
    url('/assets/fonts/MapleMono-NF-CN-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: normal;
  src: 
    local('Syne Mono'),
    url('/assets/fonts/SyneMono-Regular.ttf') format('truetype');
}
