@font-face {
  font-family: 'iA Writer Duo S';
  font-style: normal;
  font-weight: normal;
  src: 
    local('iA Writer Duo S'),
    url('/assets/fonts/iAWriterDuoS-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: normal;
  src: 
    local('Syne Mono'),
    url('/assets/fonts/SyneMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: 
    local('Fira Code'),
    url('/assets/fonts/FiraCode-Regular.ttf') format('truetype');
}