@use "../mixins/media";

.content {
  padding: var(--space-m);

  @include media.media(breakpoint) {
    font-size: var(--font-size-m);
    margin-left: auto;
    margin-right: auto;
    min-width: 650px;
    max-width: 650px;
    padding: var(--space-s);
  }
}
