@use "../mixins/media";

.missing {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.missing img {
  max-height: 20rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6px;
  margin-bottom: var(--space-m);
  text-align: center;
  width: 300px;

  @include media.media(breakpoint) {
    margin-top: -2px;
  }
}

.missing h1 {
  font-size: var(--font-size-xxxxl);
}
