.paginator span {
  text-decoration: none;
  color: var(--color-text-muted);
  margin: 0 1.2rem;
  font-family: var(--font-family-syne);
  font-size: var(--font-size-xxl);

  @include media(breakpoint) {
    font-size: var(--font-size-m);
  }
}